.map{
  .div {
    align-items: center;
    background-color: var(--White, #fff);
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 50px 60px;
    text-align: center;
  }
  @media (max-width: 991px) {
    .div {
      padding: 40px 20px;
    }
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding: 0 80px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-3 {
    font-family: Space Grotesk;
    font-size: 54px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #15141a;
    align-self: center;
    width: 55%;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      width: 100%;
      font-size: 34px;
      line-height: 55px;
    }
  }
  .div-4 {
    margin-top: 50px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .map-image {
    max-width: 100%;
    height: auto;
  }
}
