<section class="training-hero d-flex py-5">
    <div class="container py-5">
        <div class="col-12 text-center mb-5">
            <div class="d-flex justify-content-center">
                <h1 class="col-md-7 text-white plus-jakarta-sans display-3 fw-bold mb-4 mt-5">
                    {{ 'training.hero.title1'| trans }} <span class="text-gradiant"> {{ 'training.hero.title2'| trans }}</span>
                </h1>
            </div>
            <div class="d-flex justify-content-center">
                <p class="lead col-md-7 text-white mb-5">
                    {{ 'training.hero.p1'| trans }}
                </p>
            </div>
            <button class="btn btn-light rounded-pill px-4 py-3 mb-md-3" type="button" aria-label="Phone">
                <span class="text-gradiant fw-medium">{{ 'training.hero.btn'|trans }}</span>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/fe697f339d3ce4c0930ff523b955cd461802f5c7db8032f509332e1cd4587b75?" alt="arrow" class="ms-2 mb-2"/>
            </button>
        </div>
    </div>
</section>