<section class="container py-5 border-bottom">
    <div class="row justify-content-between py-5">
        <div class="col-lg-5">
            <h4 class="space-grotesk fw-medium text-primary mb-2 mt-3">About the Workshop</h4>
            <h1 class="space-grotesk display-4 fw-medium mb-5">Description of <br> the workshop</h1>
            <img src="{{ asset('build/images/i2.png') }}" alt="canal +" class="img-fluid">
        </div>
        <div class="col-lg-7">
            <div class="accordion mt-3" id="accordionExample">
                <div class="accordion-item border-top pt-3 mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="me-4">01</span>Presentation
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-top pt-3 mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="me-4">02</span>The promise
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-top pt-3 mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="me-4">03</span>Objectives
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-top pt-3 mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="me-4">04</span>Target Audience
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-top pt-3 mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="me-4">05</span>Prerequisites
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-top pt-3 mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span class="me-4">06</span>Pedagogical Approach
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-top pt-3 mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <span class="me-4">07</span>Duration
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="row justify-content-between text-justify py-5">
        <div class="col-md-6 pe-md-3">
            <p class="fs-5 text-secondary">
                Say goodbye to one-size-fits-all solutions – our Tailor-made AI Assistants are finely tuned to reflect your individuality, providing a bespoke experience that enhances efficiency, productivity, and overall satisfaction. Whether you're managing busy schedules, seeking insightful recommendations, or automating repetitive tasks, our AI Assistants are equipped to understand and cater to your distinct preferences, making interactions more intuitive and personalized. </p>
        </div>
        <div class="col-md-6 pe-md-3">
            <p class="fs-5 text-secondary">
                Say goodbye to one-size-fits-all solutions – our Tailor-made AI Assistants are finely tuned to reflect your individuality, providing a bespoke experience that enhances efficiency, productivity, and overall satisfaction. Whether you're managing busy schedules, seeking insightful recommendations, or automating repetitive tasks, our AI Assistants are equipped to understand and cater to your distinct preferences, making interactions more intuitive and personalized.</p>
        </div>
    </div>
    <a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
        Schedule a Workshop
        <img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
    </a>
</section>