<div class="section-heading">
	<div class="uk-container">
		<div class="inner">
			<div class="left">
				<hr class="line pr__hr__secondary">
				<h2 class="title uk-h1">{{'Our projects'|trans}}.</h2>
				<span class="subtitle pr__heading__secondary">{{'By our code experts'|trans}}</span>
			</div>
		</div>
	</div>
</div>
