<section class="pt-5 space-grotesk">
    <div class="container py-5">
        <div class="row justify-content-center p-3">
            <h1 class="col-md-6 display-5 text-center fw-bolder pb-5">From Paris to Tunisia, We’re everywhere</h1>
            <img src="{{ asset('build/images/backgrounds/Map.svg') }}" alt="map" class="w-100">
        </div>
    </div>
</section>