<section class="container py-5">
    <div class="row justify-content-between py-5">
        <div class="col-lg-3 col-md-6 pe-5">
            <p class="fs-5 text-secondary">Successfully completed <b class="text-black">150+</b> projects</p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">150+</h1>
        </div>
        <div class="col-lg-3 col-md-6 pe-5">
            <p class="fs-5 text-secondary">Delivered the best ever products to <b class="text-black">80+</b> clients
            </p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">80+</h1>
        </div>
        <div class="col-lg-3 col-md-6 pe-5">
            <p class="fs-5 text-secondary">We have experience of more than <b class="text-black">12 years in Ai
                    space</b></p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">12+</h1>
        </div>
        <div class="col-lg-3 col-md-6 pe-5">
            <p class="fs-5 text-secondary">More than <b class="text-black">20 skilled Ai experts</b> to help you</p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">20+</h1>
        </div>
    </div>
</section>