<section class="pr__services pr__section uk-section uk-section-large" id="pr__services">
	<div class="section-outer">
		<div class="section-heading">
			<div class="uk-container">
				<div class="inner">
					<div class="left">
						<hr class="line pr__hr__secondary">
						<h2 class="title uk-h1">{{title|trans}}</h2>
						<span class="subtitle pr__heading__secondary">{{ 'QUALITY FIRST'|trans }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section-inner">
			<div class="uk-container">
				<p>
					{{ 'service.baseline1'|trans }}
				</p>
				<p>
					{{ 'service.baseline2'|trans }}

				</p>
			</div>
		</div>
	</div>
</section>
