<section class="container py-5 border-bottom">
    <div class="row justify-content-between py-5">
        <div class="col-lg-6 space-grotesk">
            <h1 class="display-4 fw-medium mb-4">Our Story</h1>
        </div>
        <div class="col-lg-6 text-justify">
            <p class="fs-3 mb-3">Welcome to <b>Kodkokod</b>, where expert web development meets tailored solutions.
                With <b>300+ satisfied customers</b>, we drive your business's digital success.</p>
            <p class="fs-5 text-secondary">At Kodkokod, we understand the importance of delivering tangible results.
                Instead of making lofty promises, we focus on what we do best: producing top-quality code that
                empowers your business to succeed.</p>
        </div>
    </div>
</section>