<section class="container py-5 border-bottom">
	<div class="row justify-content-between py-5">
		<div class="col-lg-6 space-grotesk">
			<h1 class="display-4 fw-medium mb-4">{{ 'welcomeSection.ourStoryTitle'|trans }}</h1>
		</div>
		<div class="col-lg-6 text-justify">
			<p class="fs-3 mb-3">
				{{ 'welcomeSection.ourStoryContent1'|trans }}
			</p>
			<p class="fs-5 text-secondary">
				{{ 'welcomeSection.ourStoryContent2'|trans }}
			</p>
			<p class="fs-5 text-secondary">
				{{ 'welcomeSection.ourStoryContent3'|trans }}
			</p>
		</div>
	</div>
</section>
