{% extends 'base.html.twig' %}

{% block ogmetatitle %}{{ "head.politique.meta" | trans }}{% endblock %}

{% block title %}
	{{ "head.politique.title" | trans }}
{% endblock %}

{% block body %}

    <div class="app-homepage-index">
        <div class="pr__hero__wrap" style="" id="site-hero">

            <header class="pr__header" data-uk-sticky="top: 100vh; animation: uk-animation-slide-top;">
                <div class="uk-container">
                    <div class="inner" style="justify-content:center;">
                        <div class="logo">
                            <a href="/">
                                <img src="{{ asset('build/images/logo.png') }}" width="100" height="150"
                                     style="margin:20px">
                                {#                                <div class="brand"></div>#}
                            </a>
                        </div>

                    </div>
                </div>
            </header><!-- Site Header End -->

            <section class="pr__hero uk-section" id="pr__hero" style="padding-bottom: 0">

                <div id="outputPage" class="ContractText">
                    <div class="format-html">
                        <div data-exp="simple2" class="outputVersion1 uk-container">

                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Center;">
                                    <br><br><span style="font-style:normal;font-weight:bold;">POLITIQUE DE CONFIDENTIALITÉ</span><br><br><br><span
                                            style="font-style:normal;font-weight:bold;">https://kodkodkod.studio/</span><br>Hodora
                                    SAS<br><br>Type de site&nbsp;: vitrine
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Le but de cette politique de confidentialité </span><br><br>Le
                                    but de cette politique de confidentialité est d'informer les utilisateurs de notre
                                    site des données personnelles que nous recueillerons ainsi que les informations
                                    suivantes, le cas échéant :
                                </p>
                                <ol start="1"
                                    style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                    <li style="margin-bottom:18.0pt;" value="1"><span>Les données personnelles que nous recueillerons</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="2"><span>L’utilisation des données recueillies</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="3"><span>Qui a accès aux données recueillies</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="4"><span>Les droits des utilisateurs du site</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:0.0pt;" value="5">
                                        <span>La politique de cookies du site</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                </ol>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Cette politique de confidentialité fonctionne parallèlement aux conditions générales
                                    d’utilisation de notre site.
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Lois applicables</span>
                                </p>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Conformément au <span style="font-style:italic;font-weight:normal;">Règlement général sur la protection des données</span>
                                    (RGPD), cette politique de confidentialité est conforme aux règlements suivants.<br><br>Les
                                    données à caractère personnel doivent être :
                                </p>
                                <ol start="1"
                                    style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                    <li style="margin-bottom:18.0pt;" value="1"><span>traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence) ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="2"><span>collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités; le traitement ultérieur à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n'est pas considéré, conformément à l'article 89, paragraphe 1, comme incompatible avec les finalités initiales (limitation des finalités) ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="3"><span>adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="4"><span>exactes et, si nécessaire, tenues à jour; toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude) ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="5"><span>conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées; les données à caractère personnel peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques conformément à l'article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures techniques et organisationnelles appropriées requises par le règlement afin de garantir les droits et libertés de la personne concernée (limitation de la conservation) ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:0.0pt;" value="6"><span>traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).<br></span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                </ol>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions
                                    suivantes est remplie :
                                </p>
                                <ol start="1"
                                    style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                    <li style="margin-bottom:18.0pt;" value="1"><span>la personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="2"><span>le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="3"><span>le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="4"><span>le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="5"><span>le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:0.0pt;" value="6"><span>le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                </ol>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Pour les résidents de l’État de Californie, cette politique de confidentialité vise
                                    à se conformer à la <span style="font-style:italic;font-weight:normal;">California Consumer Privacy Act (CCPA)</span>.
                                    S’il y a des incohérences entre ce document et la <span
                                            style="font-style:italic;font-weight:normal;">CCPA</span>, la législation de
                                    l’État s’appliquera. Si nous constatons des incohérences, nous modifierons notre
                                    politique pour nous conformer à la loi pertinente.
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Consentement</span><br><br>Les
                                    utilisateurs conviennent qu’en utilisant notre site, ils consentent à :
                                </p>
                                <ol start="1"
                                    style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                    <li style="margin-bottom:18.0pt;" value="1"><span>les conditions énoncées dans la présente politique de confidentialité et</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:0.0pt;" value="2"><span>la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                </ol>
                            </div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Données personnelles que nous collectons</span>
                                </p>
                                <div>
                                    <div>
                                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                            <span style="font-style:normal;font-weight:bold;">Données collectées automatiquement</span>
                                        </p>
                                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                            Lorsque vous visitez et utilisez notre site, nous pouvons automatiquement
                                            recueillir et conserver les renseignements suivants :
                                        </p>
                                        <ol start="1"
                                            style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                            <li style="margin-bottom:18.0pt;" value="1"><span>Adresse IP</span><span
                                                        style="color:#000000;"><br></span>
                                            </li>
                                            <li style="margin-bottom:18.0pt;" value="2"><span>Lieu</span><span
                                                        style="color:#000000;"><br></span>
                                            </li>
                                            <li style="margin-bottom:18.0pt;" value="3"><span>Détails matériels et logiciels</span><span
                                                        style="color:#000000;"><br></span>
                                            </li>
                                            <li style="margin-bottom:18.0pt;" value="4"><span>Liens un utilisateur clique tout en utilisant le site</span><span
                                                        style="color:#000000;"><br></span>
                                            </li>
                                            <li style="margin-bottom:0.0pt;" value="5"><span>Contenu que l’utilisateur consulte sur votre site</span><span
                                                        style="color:#000000;"><br></span>
                                            </li>
                                        </ol>
                                    </div>
                                    <div>
                                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                            <span style="font-style:normal;font-weight:bold;">Données recueillies de façon non automatique</span>
                                        </p>
                                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                            Nous pouvons également collecter les données suivantes lorsque vous
                                            effectuez certaines fonctions sur notre site&nbsp;:
                                        </p>
                                        <ol start="1"
                                            style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                            <li style="margin-bottom:18.0pt;" value="1"><span>Prénom et nom</span><span
                                                        style="color:#000000;"><br></span>
                                            </li>
                                            <li style="margin-bottom:18.0pt;" value="2"><span>Email</span><span
                                                        style="color:#000000;"><br></span>
                                            </li>
                                            <li style="margin-bottom:0.0pt;" value="3">
                                                <span>Numéro de téléphone</span><span style="color:#000000;"><br></span>
                                            </li>
                                        </ol>
                                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                            Ces données peuvent être recueillies au moyen des méthodes suivantes&nbsp;:
                                        </p>
                                        <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                            Prise de contact
                                        </p></div>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        Veuillez noter que nous ne collectons que les données qui nous aident à
                                        atteindre l’objectif énoncé dans cette politique de confidentialité. Nous ne
                                        recueillerons pas de données supplémentaires sans vous en informer au préalable.
                                    </p></div>
                            </div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Comment nous utilisons les données personnelles</span><br><br>Les
                                    données personnelles recueillies sur notre site seront utilisées uniquement aux fins
                                    précisées dans la présente politique ou indiquées sur les pages pertinentes de notre
                                    site. Nous n’utiliserons pas vos données au-delà de ce que nous divulguerons.
                                </p>
                                <div>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        Les données que nous recueillons automatiquement sont utilisées aux fins
                                        suivantes&nbsp;:
                                    </p>
                                    <ol start="1"
                                        style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                        <li style="margin-bottom:0.0pt;" value="1"><span>Statistiques, reciblage publicitaire</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                    </ol>
                                </div>
                                <div>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        Les données que nous recueillons lorsque l’utilisateur exécute certaines
                                        fonctions peuvent être utilisées aux fins suivantes&nbsp;:
                                    </p>
                                    <ol start="1"
                                        style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                        <li style="margin-bottom:0.0pt;" value="1"><span>Communication</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Avec qui nous partageons les données personnelles</span>
                                </p>
                                <div>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        <span style="font-style:normal;font-weight:bold;">Employés</span><br>Nous
                                        pouvons divulguer à tout membre de notre organisation les données utilisateur
                                        dont il a raisonnablement besoin pour réaliser les objectifs énoncés dans la
                                        présente politique.
                                    </p></div>
                                <div>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        <span style="font-style:normal;font-weight:bold;">Tierces parties</span><br>Nous
                                        pouvons partager les données utilisateur avec les tiers suivants&nbsp;:
                                    </p>
                                    <ol start="1"
                                        style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                        <li style="margin-bottom:0.0pt;" value="1"><span>__________</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                    </ol>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        Nous pouvons partager les données utilisateur avec des tiers aux fins suivantes&nbsp;:
                                    </p>
                                    <ol start="1"
                                        style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                        <li style="margin-bottom:0.0pt;" value="1"><span>__________</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                    </ol>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        Les tiers ne seront pas en mesure d’accéder aux données des utilisateurs au-delà
                                        de ce qui est raisonnablement nécessaire pour atteindre l’objectif donné.
                                    </p></div>
                                <div>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        <span style="font-style:normal;font-weight:bold;">Autres divulgations</span><br>Nous
                                        nous engageons à ne pas vendre ou partager vos données avec des tiers, sauf dans
                                        les cas suivants&nbsp;:
                                    </p>
                                    <ol start="1"
                                        style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                        <li style="margin-bottom:18.0pt;" value="1"><span>si la loi l'exige</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:18.0pt;" value="2"><span>si elle est requise pour toute procédure judiciaire</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:18.0pt;" value="3"><span>pour prouver ou protéger nos droits légaux</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:0.0pt;" value="4"><span>à des acheteurs ou des acheteurs potentiels de cette société dans le cas où nous cherchons à la vendre la société</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                    </ol>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        Si vous suivez des hyperliens de notre site vers un autre site, veuillez noter
                                        que nous ne sommes pas responsables et n’avons pas de contrôle sur leurs
                                        politiques et pratiques de confidentialité.
                                    </p></div>
                            </div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Combien de temps nous stockons les données personnelles</span><br><br>Nous
                                    ne conservons pas les données des utilisateurs au-delà de ce qui est nécessaire pour
                                    atteindre les fins pour lesquelles elles sont recueillies.
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Comment nous protégeons vos données personnelles</span><br><br>fin
                                    d’assurer la protection de votre sécurité, nous utilisons le protocole de sécurité
                                    de la couche transport pour transmettre des renseignements personnels dans notre
                                    système.<br><br>Toutes les données stockées dans notre système sont bien sécurisées
                                    et ne sont accessibles qu’à nos employés. Nos employés sont liés par des accords de
                                    confidentialité stricts et une violation de cet accord entraînerait le licenciement
                                    de l'employé.<br><br>Alors que nous prenons toutes les précautions raisonnables pour
                                    nous assurer que nos données d’utilisateur sont sécurisées et que les utilisateurs
                                    sont protégés, il reste toujours du risque de préjudice. L’Internet en sa totalité
                                    peut être, parfois, peu sûr et donc nous sommes incapables de garantir la sécurité
                                    des données des utilisateurs au-delà de ce qui est raisonnablement pratique.
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Mineurs</span>
                                </p>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Le RGPD précise que les personnes de moins de 15 ans sont considérées comme des
                                    mineurs aux fins de la collecte de données. Les mineurs doivent avoir le
                                    consentement d’un représentant légal pour que leurs données soient recueillies,
                                    traitées et utilisées.
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Vos droits en tant qu’utilisateur</span>
                                </p>
                                <div>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        En vertu du RGPD, les utilisateurs ont les droits suivants en tant que personnes
                                        concernées :
                                    </p>
                                    <ol start="1"
                                        style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                        <li style="margin-bottom:18.0pt;" value="1"><span>droit d’accès</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:18.0pt;" value="2">
                                            <span>droit de rectification</span><span style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:18.0pt;" value="3">
                                            <span>droit à l’effacement</span><span style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:18.0pt;" value="4"><span>droit de restreindre le traitement</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:18.0pt;" value="5"><span>droit à la portabilité des données</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                        <li style="margin-bottom:0.0pt;" value="6"><span>droit d'objection</span><span
                                                    style="color:#000000;"><br></span>
                                        </li>
                                    </ol>
                                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                        Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art
                                        12-23) du RGPD.
                                    </p></div>
                            </div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Comment modifier, supprimer ou contester les données recueillies</span><br><br>Si
                                    vous souhaitez que vos renseignements soient supprimés ou modifiés d’une façon ou
                                    d’une autre, veuillez communiquer avec notre agent de protection de la vie privée
                                    ici :
                                </p>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;margin-left:20.0pt;">
                                    Maxime Gastaldo<br>328 rue du doyen georges chapas 69009 Lyon.<br>maxtor3569@gmail.com<br>07
                                    62 32 61 40
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Politique sur les cookies</span><br><br>Un
                                    cookie est un petit fichier, stocké sur le disque dur d’un utilisateur par le site
                                    Web. Son but est de recueillir des données relatives aux habitudes de navigation de
                                    l’utilisateur.
                                </p>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Nous utilisons les types de cookies suivants sur notre site&nbsp;:
                                </p>
                                <ol start="1"
                                    style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:lower-alpha;">
                                    <li style="margin-bottom:18.0pt;" value="1"><span
                                                style="font-style:normal;font-weight:bold;">Cookies fonctionnels</span><br>Nous
                                        les utilisons pour mémoriser toutes les sélections que vous faites sur notre
                                        site afin qu’elles soient sauvegardées pour vos prochaines visites.<span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="2"><span
                                                style="font-style:normal;font-weight:bold;">Cookies analytiques</span><br>Cela
                                        nous permet d’améliorer la conception et la fonctionnalité de notre site en
                                        recueillant des données sur le contenu auquel vous accédez et sur lequel vous
                                        vous accrochez en utilisant notre site.<span style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:18.0pt;" value="3"><span
                                                style="font-style:normal;font-weight:bold;">Cookies de ciblage</span><br>Ces
                                        cookies collectent des données sur la façon dont vous utilisez le site et vos
                                        préférences. Cela nous permet de rendre les informations que vous voyez sur
                                        notre site plus promotionnelles et ciblées pour vous.<span
                                                style="color:#000000;"><br></span>
                                    </li>
                                    <li style="margin-bottom:0.0pt;" value="4"><span
                                                style="font-style:normal;font-weight:bold;">__________</span><br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br>___________________________________________________________<br><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                </ol>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Vous pouvez choisir d’être averti chaque fois qu’un cookie est transmis. Vous pouvez
                                    également choisir de désactiver les cookies entièrement dans votre navigateur
                                    Internet, mais cela peut diminuer la qualité de votre expérience d’utilisation.
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Cookies tiers</span><br><br>Nous
                                    pouvons utiliser des cookies tiers sur notre site pour atteindre les objectifs
                                    suivants&nbsp;:
                                </p>
                                <ol start="1"
                                    style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                                    <li style="margin-bottom:0.0pt;" value="1"><span>Surveiller les préférences des utilisateurs pour adapter les publicités autour de leurs intérêts.</span><span
                                                style="color:#000000;"><br></span>
                                    </li>
                                </ol>
                            </div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Modifications</span>
                                </p>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir
                                    la conformité avec la loi et de tenir compte de tout changement à notre processus de
                                    collecte de données. Nous recommandons à nos utilisateurs de vérifier notre
                                    politique de temps à autre pour s’assurer qu’ils soient informés de toute mise à
                                    jour. Au besoin, nous pouvons informer les utilisateurs par courriel des changements
                                    apportés à cette politique.
                                </p></div>
                            <div>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Contact</span>
                                </p>
                                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                    Si vous avez des questions à nous poser, n’hésitez pas à communiquer avec nous en
                                    utilisant ce qui suit&nbsp;:<br>07 60 94 11 16<br>morgan@kodkodkod.studio<br>328 rue
                                    du Doyen Georges Chapas 69009 Lyon.
                                </p></div>
                            <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">
                                <br><span
                                        style="font-style:italic;font-weight:normal;">Date d’entrée en vigueur&nbsp;: </span>le
                                22 septembre 2021
                            </p>
                            <div class="LDCopyright">
                                <p>&copy; 2002-2021, DocumentsLégaux&trade; (Sequiter Inc.)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- Site Hero End -->


        </div><!-- Hero Wrap End -->

    </div>
{% endblock %}
