$icomoon-font-family: "Pixeicons" !default;
$icomoon-font-path: "fonts" !default;

$pr-alarm: "\e900";
$pr-apartment: "\e901";
$pr-arrow-down-circle: "\e902";
$pr-arrow-down: "\e903";
$pr-arrow-left-circle: "\e904";
$pr-arrow-left: "\e905";
$pr-arrow-right-circle: "\e906";
$pr-arrow-right: "\e907";
$pr-arrow-up-circle: "\e908";
$pr-arrow-up: "\e909";
$pr-bicycle: "\e90a";
$pr-bold: "\e90b";
$pr-book: "\e90c";
$pr-bookmark: "\e90d";
$pr-briefcase: "\e90e";
$pr-bubble: "\e90f";
$pr-bug: "\e910";
$pr-bullhorn: "\e911";
$pr-bus: "\e912";
$pr-calendar-full: "\e913";
$pr-camera-video: "\e914";
$pr-camera: "\e915";
$pr-car: "\e916";
$pr-cart: "\e917";
$pr-chart-bars: "\e918";
$pr-checkmark-circle: "\e919";
$pr-chevron-down-circle: "\e91a";
$pr-chevron-down: "\e91b";
$pr-chevron-left-circle: "\e91c";
$pr-chevron-left: "\e91d";
$pr-chevron-right-circle: "\e91e";
$pr-chevron-right: "\e91f";
$pr-chevron-up-circle: "\e920";
$pr-chevron-up: "\e921";
$pr-circle-minus: "\e922";
$pr-clock: "\e923";
$pr-cloud-check: "\e924";
$pr-cloud-download: "\e925";
$pr-cloud-sync: "\e926";
$pr-cloud-upload: "\e927";
$pr-cloud: "\e928";
$pr-code: "\e929";
$pr-coffee-cup: "\e92a";
$pr-cog: "\e92b";
$pr-construction: "\e92c";
$pr-crop: "\e92d";
$pr-cross-circle: "\e92e";
$pr-cross: "\e92f";
$pr-database: "\e930";
$pr-diamond: "\e931";
$pr-dice: "\e932";
$pr-dinner: "\e933";
$pr-direction-ltr: "\e934";
$pr-direction-rtl: "\e935";
$pr-download: "\e936";
$pr-drop: "\e937";
$pr-earth: "\e938";
$pr-enter-down: "\e939";
$pr-enter: "\e93a";
$pr-envelope: "\e93b";
$pr-exit-up: "\e93c";
$pr-exit: "\e93d";
$pr-eye: "\e93e";
$pr-file-add: "\e93f";
$pr-file-empty: "\e940";
$pr-film-play: "\e941";
$pr-flag: "\e942";
$pr-frame-contract: "\e943";
$pr-frame-expand: "\e944";
$pr-funnel: "\e945";
$pr-gift: "\e946";
$pr-graduation-hat: "\e947";
$pr-hand: "\e948";
$pr-heart-pulse: "\e949";
$pr-heart: "\e94a";
$pr-highlight: "\e94b";
$pr-history: "\e94c";
$pr-home: "\e94d";
$pr-hourglass: "\e94e";
$pr-inbox: "\e94f";
$pr-indent-decrease: "\e950";
$pr-indent-increase: "\e951";
$pr-italic: "\e952";
$pr-keyboard: "\e953";
$pr-laptop-phone: "\e954";
$pr-laptop: "\e955";
$pr-layers: "\e956";
$pr-leaf: "\e957";
$pr-license: "\e958";
$pr-lighter: "\e959";
$pr-line-spacing: "\e95a";
$pr-linearicons: "\e95b";
$pr-link: "\e95c";
$pr-list: "\e95d";
$pr-location: "\e95e";
$pr-lock: "\e95f";
$pr-magic-wand: "\e960";
$pr-magnifier: "\e961";
$pr-map-marker: "\e962";
$pr-map: "\e963";
$pr-menu-circle: "\e964";
$pr-menu: "\e965";
$pr-mic: "\e966";
$pr-moon: "\e967";
$pr-move: "\e968";
$pr-music-note: "\e969";
$pr-mustache: "\e96a";
$pr-neutral: "\e96b";
$pr-page-break: "\e96c";
$pr-paperclip: "\e96d";
$pr-paw: "\e96e";
$pr-pencil: "\e96f";
$pr-phone-handset: "\e970";
$pr-phone: "\e971";
$pr-picture: "\e972";
$pr-pie-chart: "\e973";
$pr-pilcrow: "\e974";
$pr-plus-circle: "\e975";
$pr-pointer-down: "\e976";
$pr-pointer-left: "\e977";
$pr-pointer-right: "\e978";
$pr-pointer-up: "\e979";
$pr-poop: "\e97a";
$pr-power-switch: "\e97b";
$pr-printer: "\e97c";
$pr-pushpin: "\e97d";
$pr-question-circle: "\e97e";
$pr-redo: "\e97f";
$pr-rocket: "\e980";
$pr-sad: "\e981";
$pr-screen: "\e982";
$pr-select: "\e983";
$pr-shirt: "\e984";
$pr-smartphone: "\e985";
$pr-smile: "\e986";
$pr-sort-alpha-asc: "\e987";
$pr-sort-amount-asc: "\e988";
$pr-spell-check: "\e989";
$pr-star-empty: "\e98a";
$pr-star-half: "\e98b";
$pr-star: "\e98c";
$pr-store: "\e98d";
$pr-strikethrough: "\e98e";
$pr-sun: "\e98f";
$pr-sync: "\e990";
$pr-tablet: "\e991";
$pr-tag: "\e992";
$pr-text-align-center: "\e993";
$pr-text-align-justify: "\e994";
$pr-text-align-left: "\e995";
$pr-text-align-right: "\e996";
$pr-text-format-remove: "\e997";
$pr-text-format: "\e998";
$pr-text-size: "\e999";
$pr-thumbs-down: "\e99a";
$pr-thumbs-up: "\e99b";
$pr-train: "\e99c";
$pr-trash: "\e99d";
$pr-underline: "\e99e";
$pr-undo: "\e99f";
$pr-unlink: "\e9a0";
$pr-upload: "\e9a1";
$pr-user: "\e9a2";
$pr-users: "\e9a3";
$pr-volume-high: "\e9a4";
$pr-volume-low: "\e9a5";
$pr-volume-medium: "\e9a6";
$pr-volume: "\e9a7";
$pr-warning: "\e9a8";
$pr-wheelchair: "\e9a9";

