<div class="questions">
	<div class="question">
		<div id="div-question-1-text" class="question__text">{{ "form-contact.question1"|trans }}</div>
		<div id="div-question-1-icon" class="question__icon question-active">
			<span>1</span>
		</div>
		<div id="div-question-1-icon-checker" class="question__icon" style="display: none">
			<svg focusable="false" viewbox="0 0 24 24" aria-hidden="true">
				<path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
			</svg>
		</div>
	</div>

	<div class="question dots">
		<div class="question__text"></div>
		<div id="div-question-1-dot" class="question__icon div-dot">
			<div class="dot"></div>
		</div>
	</div>

	<div class="question">
		<div id="div-question-2-text" class="question__text">{{ "form-contact.question2"|trans }}</div>
		<div id="div-question-2-icon" class="question__icon">
			<span>2</span>
		</div>
		<div id="div-question-2-icon-checker" class="question__icon" style="display: none">
			<svg focusable="false" viewbox="0 0 24 24" aria-hidden="true">
				<path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
			</svg>
		</div>
	</div>

	<div class="question dots">
		<div class="question__text"></div>
		<div id="div-question-2-dot" class="question__icon div-dot">
			<div class="dot"></div>
		</div>
	</div>

	<div class="question">
		<div id="div-question-3-text" class="question__text">{{ "form-contact.question3"|trans }}</div>
		<div id="div-question-3-icon" class="question__icon">
			<span>3</span>
		</div>
		<div id="div-question-3-icon-checker" class="question__icon" style="display: none">
			<svg focusable="false" viewbox="0 0 24 24" aria-hidden="true">
				<path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
			</svg>
		</div>
	</div>

	<div class="question dots">
		<div class="question__text"></div>
		<div id="div-question-3-dot" class="question__icon div-dot">
			<div class="dot"></div>
		</div>
	</div>

	<div class="question">
		<div id="div-question-4-text" class="question__text">{{ "form-contact.question4"|trans }}</div>
		<div id="div-question-4-icon" class="question__icon">
			<span>4</span>
		</div>
		<div id="div-question-4-icon-checker" class="question__icon" style="display: none">
			<svg focusable="false" viewbox="0 0 24 24" aria-hidden="true">
				<path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
			</svg>
		</div>
	</div>
</div>
