<section class="container pt-5">
	<div class="row justify-content-start py-5 my-5">
		<div class="col-lg-6 space-grotesk pt-5">
			<h1 class="display-1 mb-5 fw-bolder ">Paper digital</h1>
			<span class="text-decoration-none mt-5" href="#">
				At Kodkokod, we understand the importance of delivering tangible results. Instead of making lofty promises, we focus on what we do best: producing top-quality code that empowers your business to succeed.
			</span>
		</div>
	</div>
</section>
