<section class="container pt-5 space-grotesk">
	<div class="row justify-content-start py-5">
		<div class="col-lg-6 space-grotesk">
			<h4 class="fw-bolder ">Many offerings, one brand</h4>
			<span class="text-decoration-none" href="#">
				Uniting all of Papers offerings under a seamless, patient-centric umbrella brand for an awesome user experience.
			</span>
		</div>
	</div>
</section>
