<section class="pt-5 space-grotesk">
	<div class="d-flex">
		<div class="col">
			<div class="color-palette position-relative" style="background-color: #FF6B35;">
				<div class="position-absolute bottom-0 start-0 ps-2">
					<span>Orange - Funky</span>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="color-palette position-relative" style="background-color: #F7C59F;">
				<div class="position-absolute bottom-0 start-0 ps-2">
					<span>Creamy - Candy</span>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="color-palette position-relative" style="background-color: #EFEFD0;">
				<div class="position-absolute bottom-0 start-0 ps-2">
					<span>Lemon - Seafoam</span>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="color-palette position-relative" style="background-color: #004E89;">
				<div class="position-absolute bottom-0 start-0 ps-2">
					<span>Darken - Navy</span>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="color-palette position-relative" style="background-color: #1A659E;">
				<div class="position-absolute bottom-0 start-0 ps-2">
					<span>Sea - Blueish</span>
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex pt-4">
		<div class="col pr-2">
			<img src="{{ asset('build/images/project/image 105.png') }}" alt="" class="img-fluid">
		</div>
		<div class="col ps-5">
			<div class="col ps-5">
				<img src="{{ asset('build/images/project/image 104.png') }}" alt="" class="img-fluid">
			</div>
			<div class="col ps-5 pt-5 px-5">
				<h4 class="text-secondary pt-5">Many offerings, one brand</h4>
				<span class="fs-1 mb-3">
					Uniting all of Papers offerings under a seamless, patient-centric umbrella brand for an awesome user experience.
				</span>
			</div>
		</div>
	</div>

</section>
