{# Type Project Section #}
<section class="sec-type-project smart-contracts">
	<div class="box">

		<div class="box__title">
			{{ 'type-project.smart-contracts.title'|trans }}
		</div>
		<div class="box__cards">
			<div class="card">
				<div class="title">{{ 'type-project.smart-contracts.baseline'|trans }}</div>
		</div>
	</div>
</section>
