<div class="faq-description">
    <div class="title">{{'faq-description.data-security-traceability.title' | trans}}</div>
    <div class="description">
        {{'faq-description.data-security-traceability.description1' | trans}} <br>
        {{'faq-description.data-security-traceability.description2' | trans}}
    </div>
</div>