@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Color Palette
$mainClr: #E9204F; //#11099a
$secClr: #101010;
$black: #000;
$graydark: #747474;
$graymedium: #757d9a;
$gray: #ACACAC;
$graylight: #E0E0E0;
$graylighter: #F6F6F6;
$light: #F3F3F3;
$white: #FFFFFF;
$alternate: #dbe2e2;
$blackmedium:#0A0F1B;

// Font Types
$mainFnt: 'Poppins', 'Montserrat', 'Trade Gothic', 'Roboto Condensed', sans-serif;
$secFnt: 'Avant Grade', 'Poppins', sans-serif;
@debug var(--mainFnt);

// Used Colors
$bodyClr: $graydark;
$headingClr: $secClr;

// Footer
$footerTxt: $graydark;
$footerLnk: $white;
$footerBg: #1b1b1b;
$footerCtrBg: #161616;
$footerBtmBg: $black;

// Card
$backgroundCard: $graylighter;

// Light Footer
// $footerTxt: $graydark;
// $footerLnk: $secClr;
// $footerBg: #fff;
// $footerCtrBg: #fafafa;
// $footerBtmBg: #fff;