
@import "bootstrap-icons";
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";
@import "map";

$font-family-base: "Outfit", sans-serif;

$primary: #e9204f;

@import "bootstrap";

.footer a,
.navbar-page a {
  text-decoration: none !important;
}
.footer a {
  color: white !important;
}
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.text-gradiant {
  background: linear-gradient(81.68deg, #e9204f 19.34%, #ffd708 156.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial {
  font: 500 23px/48px Satoshi, sans-serif !important;
}
.testimonial-title {
  font: 600 45px / 80px Space Grotesk, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.testimonial-prev {
  position: absolute;
  left: -50px;
  top: 40%;
}
.testimonial-next {
  position: absolute;
  right: -50px;
  top: 40%;
}

.testimonial-next:hover,
.testimonial-prev:hover {
  background-color: #fff !important;
}

.h-line {
  line-height: 1.5 !important;
}

.slick-dots {
  bottom: -10% !important;
}

.color-palette {
  height: 500px;
  @media only screen and (max-width: 912px) {
    height: 200px;
  }
}

.w-95 {
  width: 95% !important;
}

.training-hero {
  background-size: cover;
  background-position: center;
  background-image: url('./../images/backgrounds/training-and-workshops.jpg');
}


@media (max-width: 768px) {
  .display-3 {
    font-size: 1.8rem;
  }
}

input:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.text-justify {
  text-align: justify !important;
}

.works-prev  {
  position: absolute;
  right: 80px;
  bottom: -60px;
}
.works-next  {
  position: absolute;
  right: 20px;
  bottom: -60px;
}
.rounded-circle {
  &:hover {
    background-color: gray;
  }
  &:focus {
    outline: none;
  }
}
