@import "bootstrap-icons";
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";
@import "fonts";

// Override Bootstrap font variable
$font-family-base: "Outfit", sans-serif;

// Override Bootstrap primary color variable
$primary: #e9204f;

@import "bootstrap";

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.hero {
  background-size: cover;
  background-position: top;
  background-image: url('./../images/backgrounds/home.png');
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 1.8rem;
  }
  .hero {
    background-size: cover;
    background-position: center;
    background-image: url('./../images/backgrounds/home_mobile.png');
  }
}

.text-gradiant {
  background: linear-gradient(81.68deg, #e9204f 19.34%, #ffd708 156.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-underline .nav-link.active::after,
.nav-underline .nav-link:hover::after {
  background-color: #e9204f !important;
}

.nav-underline .nav-link.active,
.nav-underline .nav-link:hover {
  color: #e9204f !important;
}

.text-justify {
  text-align: justify !important;
}

input:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.footer input::placeholder {
  color: white !important;
  opacity: 1 !important;
}

.footer .border-bottom {
  border-bottom: 1px solid rgba(211, 211, 211, 0.25) !important;
}
.btn.btn-outline-dark.rounded-circle:hover {
  background-color: transparent !important;
}

.testimonial-prev  {
  position: absolute;
  left: -50px;
  top: 40%;
}
.testimonial-next  {
  position: absolute;
  right: -50px;
  top: 40%;
}

/*
.navbar-nav .nav-link {
    position: relative;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px; !* Adjust as needed *!
    left: 35%; !* Center the underline *!
    width: 25%; !* Adjust as needed *!
    height: 2px; !* Adjust as needed *!
    background-color: #007bff; !* Adjust color as needed *!
    transition: width 0.3s ease; !* Optional: Add transition effect *!
    opacity: 0;
}
.navbar-nav .nav-link:hover::after {
    opacity: 1;
}
.navbar-nav .active::after {
    opacity: 1;
}*/

.background-circles {
  background-size: cover;
  bottom: 0;
  left: 28%;
  position: absolute;
  top: 35px;
  width: 45%;
  opacity: 0.5;
}

.background-ellipse {
  background: linear-gradient(68.41deg, #9531ff 51.35%, #08fff9 76.43%);
  border-radius: 50%;
  filter: blur(300px);
  height: 45%;
  left: 15%;
  position: absolute;
  top: 40%;
  width: 70%;
  z-index: -1;
  @media only screen and (max-width: 912px) {
    filter: blur(170px);
  }

  @media only screen and (max-width: 480px) {
    filter: blur(200px);
  }
}
.color-palette {
  height: 500px;
  @media only screen and (max-width: 912px) {
    height: 200px;
  }
}
.seeall-btn {
  padding: 0.7rem 3rem;
  background: #E9204F;
}