.jumbo-img-magento {
    width: fit-content !important;
    max-width: 80% !important;
}

.type-project {
    &--magento {
        .box {
            &__title {
               margin-left: auto;
               margin-right: auto; 
            }

            &__cards {
                &--magento {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 150px;
                    margin-top: 30px;
                    width: 60%;
                    align-self: center;

                    @media (max-width: 1024px) {
                        grid-column-gap: 50px;
                        width: 70%;
                    }
    
                    @media (max-width: 600px) {
                        grid-column-gap: 40px;
                        width: 100%;
                    }
    
                    .card {
                        &--magento {
                            @include display-flex($justifyContent: space-around);
                            flex-direction: column;
                            padding: 10px 0;
                            min-height: 150px;
    
                            .title--magento {
                                position: relative;
                                left: 0;
                                right: 0;
                                top: 0;
                                text-align: center;
                            }
                        }
                       
                        .icon-container {
                            position: relative;
                            left: 0;
                            right: 0;
                            top: 0;
                            .icon {
                                &--mobile {
                                    margin: 0 5px;
                                    width: 16px;
                                }
                            }
                        }
                        
                        
                    }
                }
            }
    
            &__btn {
                display: grid;
                align-self: center;
                margin-top: 30px;
            }
        }
    }

}

.introduction-magento {
    @include center;
    padding: 10px 10px 50px 10px;

    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1250px;
        width: 100%;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }

        &__left {
            .title {
                @include title;
                text-align: left;
            }

            .description {
                @include sub-title;
            }
        }

        &__right {
            display: flex;
            justify-content: center;

            img {
                max-width: 45%;
                height: auto;

                @media (max-width: 1280px) {
                    max-width: 55%;
                }

                @media (max-width: 1024px) {
                    max-width: 30%;
                }
            }
        }
    }
}

.advantages-magento {
    @include display-flex;
    flex-direction: column;
    padding: 90px 25px 50px 25px;
    background-color: $backgroundCard;
    height: fit-content;

    @media (max-width: 1024px) {
        padding: 50px 25px;
    }

    .box {
        @include display-flex;
        flex-direction: column;
        max-width: 1250px;
        width: 100%;
        height: auto;

        .title-box {
            width: 51%;

            @media (max-width: 1024px) {
                width: 100%;
            }

            @media (max-width: 425px) {
                font-size: 35px;
              }
            
            .line {
                &--pink {
                    background-color: $mainClr;
                    height: 4px;
                    width: 40px;
                    text-align: left;
                }
            }
            
            .title {
                @include title;
                text-align: left;
            }
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 40px;

            @media (max-width: 640px) {
                grid-template-columns: 1fr;
            }

            .card {
                position: relative;
                max-height: 500px;
                
            overflow: visible;
                @media (max-width: 640px) {
                    max-height: 400px;
                }
                &__img {
                    margin-top: 20%;

                    .icon-container {
                        width: 50px;
                        height: 50px;
                        background-color: rgba(233, 32, 79, 0.2);
                        padding: 14px;
                        border-radius: 50%;
                        .icon {
                            width: 30px;
                            height: auto;
                            color: $mainClr;
                        }  
                    }
                }

                &__title {
                    @include title($fontSize: 22px);
                    margin-top: 10%;
                    text-align: left;
                    
                    @media (max-width: 1024px) {
                        line-height: 32px;
                    }
                }

                &__description {
                    p {
                        @include sub-title;
                        text-align: justify;
                    }
                }
            }
        }
    }

    .btn {
        @include display-flex;
            margin-top: 50px;
    }
}
