.app-blog-detail {

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }

  h1 {
    font-size: 30px;
  }

  .imgBlog {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .author-container {
    display: flex;

    .author {

      border-radius: 50%;
    }

    .name-container {
      margin-left: 20px;

    }

    .name {
      font-weight: bold;
    }
  }

  .blog-container {
    width: 50%;
    margin: 50px auto;

    @media (max-width: 1300px) {
      width: 70%;

    }

    @media (max-width: 992px) {
      width: calc(100% - 50px);
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 640px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
