.page-service{

  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;

  .div {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 13% auto auto;
    max-width: 50%; 
  }
  @media (max-width: 991px) {
    .div {
      margin: 100px 20px auto;
      font-size: 14px;
      line-height: 40px;
      
      a {
        margin-bottom: 50%;
      }
    }
  }
  .div-2 {
    color: var(--Neutral-1, var(--White, #fff));
    font: 600 64px / 77px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    .line1 {
      font-family: Plus Jakarta Sans;
      font-size: 86px;
      font-weight: 600;
      line-height: 103px;
      letter-spacing: 0px;
      text-align: center;
    }
    .line2{
      background: linear-gradient(68deg, #e9204f 11.17%, #ffd708 76.43%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      align-self: stretch;
    }

    width: 100%;
    font: 600 64px/77px Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      font-size: 28px;
      line-height: 40px;
    }
  }
  .div-3 {
    font-family: Outfit;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--White, #fff);
    margin-top: 24px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .btnConsult {
    border-radius: 1000px;
    background-color: #fff;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
    color: var(--Dark, #1d0d47);
    font-weight: 500;
    white-space: nowrap;
    line-height: 150%;
    padding: 19px 24px;
    &:hover {
      background-color: #ffd708
    }
  }
  @media (max-width: 991px) {
    .btnConsult {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-5 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  @media (max-width: 991px) {
    .div-5 {
      white-space: initial;
    }
  }
  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-6 {
    font-family: Space Grotesk;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-align: left;
    leading-trim: both;
    text-edge: cap;
    flex-grow: 1;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-6 {
      white-space: initial;
    }
  }
 .section-logo {
   font-size:32px;
   font-family: Outfit, sans-serif;
   color: rgba(255,255,255,0.5);
   margin: auto;
   padding-top: 20px;
   padding-left:100px;
   padding-right:100px;
   align-items: center;
   display:flex;
   .logo {
     margin-left: auto;
     display:flex;
     justify-items: center;
     justify-content: center;
     align-items: center;
     gap: 90px;
     margin-left: 15%;
     img {
       width: 200px;
     }
   }
 }

 @media (max-width: 991px) {
  .section-logo {
    display: none;
  }
}

}
@media (max-width: 991px) {
  page-home {
    height: 70%;
  }
}
