<h1>Nouvelle demande a partir du site (sendDevis)</h1>

<div>
Nom : {{ name  }}
</div>

<div>
  Email : {{ emailClient  }}
</div>

<div>
  subject : {{ subject  }}
</div>

<div>
  Message : {{ message  }}
</div>
