<section class="container">
	<div class="row justify-content-start my-5">
		<div class="col-lg-6 space-grotesk">
			<h1 class="display-1 mb-5 fw-bolder ">{{project.title}}</h1>
			<span class="text-decoration-none mt-5" href="#">
				{{project.description}}
			</span>
		</div>
	</div>
</section>
