<section class="container py-5 space-grotesk">
	<h4 class="fw-bolder text-secondary pt-5">
		{{ 'projet.challenge.title' | trans}}
	</h4>
	<div class="d-flex flex-column flex-lg-row pt-4">
		<div class="col pr-2">
			<p class="text-decoration-none fs-4 text-justify">
				{{ 'projet.challenge.text1' | trans}}
			</p>
		</div>
		<div class="col ps-5">
			<p class="text-decoration-none fs-4 text-justify">
				{{ 'projet.challenge.text2' | trans}}
			</p>
		</div>
	</div>
</section>
 