<section class="container pt-5 space-grotesk">
	<div class="row justify-content-start py-5">
		<div class="col-lg-6 space-grotesk">
			<h4 class="fw-bolder ">{{ 'projet.offer.title' |trans }}</h4>
			<p class="text-decoration-none text-justify" href="#">
				{{ 'projet.offer.text' |trans }}
			</p>
		</div>
	</div>
</section>
