<section class="py-5">
    <div class="container-xs">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="d-flex flex-column flex-lg-row pt-4">
                    <div class="col-lg-6 pr-lg-2 pt-2">
                        <img src="{{ asset('build/images/project/texts.png') }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 pr-lg-2 pt-2">
                        <img src="{{ asset('build/images/project/femme.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="d-flex flex-column flex-lg-row pt-4">
                    <div class="col-lg-6 pr-lg-2">
                        <img src="{{ asset('build/images/project/green.png') }}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 ps-lg-2">
                        <div class="col-lg-12 ps-lg-5 pt-lg-5 px-lg-5">
                            <h4 class="text-secondary pt-5">Many offerings, one brand</h4>
                            <span class="fs-1 mb-3">
                                Uniting all of Papers offerings under a seamless, patient-centric umbrella brand for an awesome user experience.
                            </span>
                        </div>
                        <div class="col-lg-12 ps-lg-5">
                            <img src="{{ asset('build/images/project/image.png') }}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
