<section class="pb-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="row col-md-10 justify-content-center p-3">
                <h1 class="col-md-7 display-5 space-grotesk text-center fw-bolder pb-5">Don’t miss any updates with our Newsletter</h1>
                <div class="d-flex align-items-center border-bottom border-black p-3 mt-md-3">
                    <input type="text" class="form-control border-0 bg-transparent rounded-0 fw-medium fs-4"
                           id="exampleInput" placeholder="Email">
                    <a href="#">
                        <i class="bi bi-arrow-right-short text-black fs-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>