<section class="pt-5 space-grotesk">
    <div class="container py-5">
        <div class="row justify-content-center p-3">
            <h1 class="col-md-6 display-5 text-center fw-bolder pb-5">Discover Testimonials from Our
                Clients</h1>
            <div class="testimonial-carousel">
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-md-6 d-flex justify-content-center align-items-start mb-3 mb-md-5">
                            <img src="{{ asset('build/images/clients/mike.png') }}" alt="Mike">
                            <div class="ms-2">
                                <h2>Mike M.</h2>
                                <p class="fs-5 fs-md-4">Co-founder Emergency Doctors</p>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h2 class="text-center">We had the pleasure of collaborating with the Kodkodkod studio.
                                Maxime supported us during the technical development of our app with great
                                seriousness.</h2>
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-md-6 d-flex justify-content-center align-items-start mb-3 mb-md-5">
                            <img src="{{ asset('build/images/clients/mike.png') }}" alt="Mike">
                            <div class="ms-2">
                                <h2>Mike M.</h2>
                                <p class="fs-5 fs-md-4">Co-founder Emergency Doctors</p>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h2 class="text-center">We had the pleasure of collaborating with the Kodkodkod studio.
                                Maxime supported us during the technical development of our app with great
                                seriousness.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>