// Suggested Colors
// $color0: #000;
// $color1: #f5a8a1;
// $color2: #D8AA96;
// $color3: #88A0A8;
// $color4: #B4CEB3;
// $color5: #BBC8CA;
// $color6: #ADCAD6;
// $color7: #BF8B85;
// $color8: #ec9bb7;
// $color9: #75ABBC;
// $color10: #1768AC;

// Brand Colors
$mainClr: #010101;
$secClr: #8c8c8c;

// Global Colors
$bodyBgClr: #ffffff;
$bodyClr: #8c8c8c;
$linkClr: #222222;
$linkClrHr: $mainClr;
$headingClr: #222222;
$borderClr: rgba(0, 0, 0, 0.07);

// Typography 
$mainFnt: 'Sofia Pro', sans-serif;
$secondFnt: 'Muli', sans-serif;
$bodyFnt: $mainFnt;
$headingFnt: $mainFnt;